@import url("normalize.css");

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix::after,
.header::after,
.grid::after {
    content: "";
    display: table;
    clear: both;
}

body {
	font-family: 'Montserrat', sans-serif;
}
/*Навигация*/
.navbar{
 background:#5db328;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #529c25;
 color: #FFF;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
/*header style*/
.header {
    background: url(../img/header.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-size: cover;
    position: relative;
}
/*на флексе*/
.info {
    position: relative;
    top: 85px;
    display: flex;
    justify-content: space-between;
}
.info__tel a:hover {
    color: #fff;
}
.info__btn {
    border: 1px solid #5db328;
    border-radius: 25px;
    background-color: #5db32899;
    padding: 10px 20px;
    text-transform: uppercase;
}
.info__btn:hover {
    background-color: #5db328;
}
.info__btn a {
    color: #fff;
}
.info__btn a:hover {
    text-decoration: none;
}
.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    max-width: 888px;
}
.main-text h1{
    font-weight: 300;
    font-size: 2.8rem;
}
.slider {
    position: relative;
z-index: 2;
height: 15vh;
display: flex;
justify-content: center;
align-items: center;
}
/*END header*/
/*START ob_nas*/
#ob_nas {
	background: #eee;
    padding: 1em;
    position: relative;
}
#ob_nas h2 {
	margin: 3rem 0;
	text-align: center;
}
/*END ob_nas*/
/*START приемущества*/
#priemyhestva {
    padding-bottom: 3rem;
}
#priemyhestva .h2 {
	color: #fff;
	text-align: center;
	padding: 3rem 0;
}
#priemyhestva p {
	color: #fff;
}
/*END приемущества*/
/*START направления*/
#works h2 {
    padding: 3rem 0;
    text-align: center;
}
.blok-element {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}
.bloks_p {
    color: #fff;
    position: absolute;
    font-size: 1.72rem;
    z-index: 2;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
}
.bloks_p:hover {
    opacity: 0;
}
.blok-element img {
    max-width: 100%;
    height: auto;
}

.blok-element:after {
    position: absolute;
    content: "";
    height: 100%;
    background: rgba(0,0,0,0.4);
    top: 0;
    right: 0;
    left: 0;
}
.blok-element:hover::after {
    cursor: pointer;
    opacity: 0;
    transition: 1.5s;

}
/*END направления*/
/*Form*/

input, .form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #5db328;
}
.btn-ok {
    float: right;
    background-color: #5db328;
    border-color: #356518;
}
}