@media screen and (max-width: 992px) {
	html {
		font-size: 90%;
	}
}

@media screen and (max-width: 720px) {
	html {
		font-size: 90%;
	}
	.info {
		flex-direction: column;
		text-align: center;
		margin-top: -25px;
	}
	.main-text {
		width: 98%;
		text-align: center;
		margin-top: 85px;
	}
	.main-text h1 {
		font-size: 2.4rem;
	}
	.main-text h2 {
		font-size: 1.3rem;
		line-height: 1.5;
		margin-top: -10px;
	}
	.slider {
		width: 98%;
	}
	.slider h3 {
		font-size: 1.3rem;
	}

	#priemyhestva .h2 {
	    font-size: 1.6rem;
	    line-height: 1.5;
		padding: 2rem 5px 0px 5px;
    }
	    .bloc-img {
	    	width: 30%;
			margin-top: 5px;
    }
	    .bloks_p {
		    color: #fff;
		    position: absolute;
		    font-size: 1.72rem;
		    z-index: 2;
		    top: 38%;
		    left: 50%;
		    transform: translateX(-50%);
	}
}